{include file="common/header" /}
<style>
    #flushPage h2 {
        font-size: 25px;
        margin-top: 10%;
        color: #999;
        text-align: center;
    }
</style>
<body id="blog" style="background: {:isset($website['web_bgcolor'])?$website['web_bgcolor']:'#fff';}">
{include file="common/nav" /}
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
    {foreach name="$banner" item="b"}
      <li>
            <img src="{$b['img_url']}" art="{$b['img_des']}">
            <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">{$b['art']['author']} &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="{:url('Article/detail')}/art_id/{$b['art']['art_id']}">{$b['art']['art_title']}</a></h1>
                    <p>{$b['img_des']}</p>
                    <span class="blog-bor">{:date('Y/m/d',$b['art']['create_time'])}</span>
                    <br><br><br><br><br><br><br>                
                </div>
            </div>
      </li>
      {/foreach}
    </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed" id="html-content">
    <div class="am-u-md-8 am-u-sm-12">
        <div id="flushPage">
        <?php foreach($article as $k => $v): ?>
            <article class="am-g blog-entry-article">
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                    <img src="{$v['art_img']}" alt="" class="am-u-sm-12">
                </div>
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                    <span><a href="" class="blog-color">{$v['author']} &nbsp;</a></span>
                    <?php if($v['sex'] == 0): ?>
                        <span> @Beauty &nbsp;</span>
                    <?php endif; ?>
                    <?php if($v['sex'] == 1): ?>
                        <span> @Scumbag &nbsp;</span>
                    <?php endif; ?>
                    <?php if($v['sex'] == 2): ?>
                        <span> @Beast &nbsp;</span>
                    <?php endif; ?>
                    <span>{:date('Y/m/d', $v['create_time'])}</span>
                    <h1><a href="{:url('Article/detail')}/art_id/{$v['art_id']}">{$v['art_title']}</a></h1>
                    <p>{$v['subtitle']}
                    </p>
                    <p><a href="{:url('Article/detail')}/art_id/{$v['art_id']}" class="blog-continue">{$v['art_title']}</a></p>
                </div>
            </article>
        <?php endforeach; ?>
        {if empty($article)}
            <h2>数据已经加载完了</h2>
        {/if}
        </div>
        <?php if( count($article) >= $pagesize ): ?>
            <ul class="am-pagination">
                <li class="am-pagination-prev" style="display: none;">
                    <a class="getPage page-prev" data-page_type="prev" href="javascript:;">
                        &laquo; Prev
                    </a>
                </li>
                <li class="am-pagination-next">
                    <a class="getPage page-next" data-page_type="next" href="javascript:;">
                        Next &raquo;
                    </a>
                </li>
            </ul>
        <?php endif; ?>
    </div>
    <input type="hidden" name="cate_id" value="{$cate_id}">
    <input type="hidden" name="page" value="1">
<!-- right_content start -->
{include file="common/right_content" /}
<!-- riht_content end -->
    
</div>
{include file="common/footer" /}

<!-- 获取分页数据 -->
<script>
    layui.use(['layer'], function(){
        layer = layui.layer;
    });
</script>
<script type="text/javascript">
    $(function(){
        $('.getPage').click(function(){
            // 加载图标显示
            var index = layer.load(2, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景,
            });
            var page_type  = $(this).data('page_type');
            // 获取当前页数
            var page = $("input[name='page']").val();
            if (page_type == 'prev')
                page = parseInt(page) - 1;
            else
                page = parseInt(page) + 1;
            var cate_id = $("input[name='cate_id']").val();
            var keyboard = $("input[name='keyboard']").val();
            $.post(
                "{:url('Index/getPageData')}",
                {page: page, cate_id:cate_id, keyboard:keyboard},
                function(data){
                    $('.am-pagination-prev').hide();
                    $('.am-pagination-next').hide();
                    // 锚点定位
                    $("html,body").animate({
                        scrollTop:$("#html-content").offset().top
                    },1000);
                    // 关闭加载
                    layer.close(index);
                    if (data['status'] == 1)
                    { 
                        var html = '';
                        // 记录当前页面页数
                        $("input[name='page']").val(page);
                        for (var i = 0; i < data['res'].length; i++) {
                            html += '<article class="am-g blog-entry-article">';
                                html += '<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">';
                                    html += '<img src="'+data['res'][i]['art_img']+'" alt="" class="am-u-sm-12">';
                                html += '</div>';
                                html += '<div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">';
                                    html += '<span><a href="" class="blog-color">'+data['res'][i]['author']+' &nbsp;</a></span>';
                                    if (data['res'][i]['sex'] == 0)
                                        html += '<span> @Beauty &nbsp;</span>';
                                    if (data['res'][i]['sex'] == 1)
                                        html += '<span> @Scumbag &nbsp;</span>';
                                    if (data['res'][i]['sex'] == 2)
                                        html += '<span> @Beast &nbsp;</span>';
                                    html += '<span>'+data['res'][i]['create_time']+'</span>';
                                    html += '<h1><a href="{:url('Article/detail')}/art_id/'+data['res'][i]['art_id']+'">'+data['res'][i]['art_title']+'</a></h1>';
                                    html += '<p>'+data['res'][i]['subtitle']+'</p>';
                                    html += '<p><a href="{:url('Article/detail')}/art_id/'+data['res'][i]['art_id']+'" class="blog-continue">'+data['res'][i]['art_title']+'</a></p></div></article>';
                        }
                        $('#flushPage').html(html);
                        if (page > 1) {
                            $('.am-pagination-prev').show();
                        }
                        //获取分页数量
                        var pagesize = <?php echo $pagesize; ?>;
                        if (data['res'].length == pagesize) {
                            $('.am-pagination-next').show();
                        }
                    } else {
                        var html = '<h2>数据已加载完了</h2>';
                        $('#flushPage').html(html);
                        $('.am-pagination-prev').show();
                    }
                });
        });
    });
</script>