{include file="common/header" /}
<body id="blog">
{include file="common/nav" /}
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
    {foreach name="$banner" item="b"}
      <li>
            <img src="__IMAGE__{$b['img_url']}" art="{$b['img_des']}">
            <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">{$b['art']['author']} &nbsp;</a></span>               
                    <h1 class="blog-h-margin"><a href="{:url('Article/detail')}/art_id/{$b['art']['art_id']}">{$b['art']['art_title']}</a></h1>
                    <p>{$b['img_des']}</p>
                    <span class="blog-bor">{:date('Y/m/d',$b['art']['create_time'])}</span>
                    <br><br><br><br><br><br><br>                
                </div>
            </div>
      </li>
      {/foreach}
    </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <?php foreach($article as $k => $v): ?>
            <article class="am-g blog-entry-article">
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                    <img src="__IMAGE__{$v['art_img']}" alt="" class="am-u-sm-12">
                </div>
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                    <span><a href="" class="blog-color">{$v['author']} &nbsp;</a></span>
                    <?php if($v['sex'] == 0): ?>
                        <span> @妹子 &nbsp;</span>
                    <?php endif; ?>
                    <?php if($v['sex'] == 1): ?>
                        <span> @渣男 &nbsp;</span>
                    <?php endif; ?>
                    <?php if($v['sex'] == 2): ?>
                        <span> @禽兽 &nbsp;</span>
                    <?php endif; ?>
                    <span>{:date('Y/m/d', $v['create_time'])}</span>
                    <h1><a href="{:url('Article/detail')}/art_id/{$v['art_id']}">{$v['art_title']}</a></h1>
                    <p>{$v['subtitle']}
                    </p>
                    <p><a href="{:url('Article/detail')}/art_id/{$v['art_id']}" class="blog-continue">{$v['art_title']}</a></p>
                </div>
            </article>
        <?php endforeach; ?>
        <ul class="am-pagination">
            <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
            <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
        </ul>
    </div>
<!-- right_content start -->
{include file="common/right_content" /}
<!-- riht_content end -->
    
</div>
{include file="common/footer" /}