<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{:isset($website['website_des'])?$website['website_des']:''}">
	<meta name="keywords" content="{:isset($website['website_keywords'])?$website['website_keywords']:''}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{$title}</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<link rel="icon" type="image/png" href="{:isset($website['home_logo'])?$website['home_logo']:''}">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="{:isset($website['home_logo'])?$website['home_logo']:''}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
	<link rel="apple-touch-icon-precomposed" href="{:isset($website['home_logo'])?$website['home_logo']:''}">
	<meta name="msapplication-TileImage" content="{:isset($website['home_logo'])?$website['home_logo']:''}">
	<meta name="msapplication-TileColor" content="#0e90d2">
	{include file="common/css" /}
</head>